@font-face {
  font-family: 'nokia';
  src: url('./nokiafc22.ttf') format('truetype');
}

body {
  overflow: hidden;
  font-family: 'nokia', sans-serif;
  color:#fff;
  font-size:12px;
}

.container {
  width: 1000px;
  margin: auto;
  text-align: center;
  z-index: 2;
}

.canvas-container {
  position: absolute;
  z-index: 1;
  top: 205px;
  left: 50%;
  transform: translateX(-42%);
  padding: 10px 14px 6px 10px;
  background-color: #273122;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  border: 2px solid #5d7950;
}

.nokia {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 600px;
  top: 0;
  z-index: -1;
  transition: transform 1s ease-in-out;
}

.nokia-fullscreen {
  transform: scale(4) translateX(-10%) translateY(115px);
}

.d-none {
  display: none;
}

.score {
  color: #273122;
  font-size: 30px;
  right: -75px;
  top: 30px;
  position: absolute;
}